$color-border: #bbbbbb;
$color-disabled: #aaaaaa;
$color-primary: #7b1fa2;
$color-primaryDark: #4a0072;
$color-primaryLight: #ae52d4;
$color-primaryDisabled: #e1bee7;
$color-secondary: #3949ab;
$color-secondaryDark: #00227b;
$color-secondaryLight: #6f74dd;
$color-white: #ffffff;
$color-black: #111111;
$color-link: #2288ff;
$color-bgLight: #eee;
$color-bgMedium: #999999;
$color-bgDark: #555555;
$color-facebook: #3B5998;
$color-google: #d34836;
$color-linkedin: #0077b5;
$color-failure: #ff5555;
$color-success: #66aa22;
